<div id="brewery-panel" class="row">
  <div class="col-md-8">
    <h2>Address: {{model.address}}, {{model.state.name}} {{model.postal_code}}</h2>
    <h2>Open to the Public?  {{model.open_to_public}}</h2>
    <h2>Established: {{model.established}}</h2>
    <p>{{model.description}}</p>    
  </div>

  <div id="brewery-map" class="col-md-4">
    {{#g-map lat=model.latitude lng=model.longitude zoom=8 as |context|}}
      {{g-map-marker context lat=model.latitude lng=model.longitude title=model.name}}
    {{/g-map}}
  </div>
</div>

{{outlet}}
