{{!-- USE COMPONENT HERE --}}
<div id="brewery-top-bar" class="row">
  <div class="col-md-4">
    <img id="brewery-logo-image" src={{model.medium_image}}>
  </div>
  <div class="col-md-8">
    <h1>{{model.name}}</h1>
  </div>
</div>

<div  class="row">
  <ul id="brewery-navbar" class="nav navbar-nav">
    <li>{{link-to "Brewery Info" 'states.state.brewery.info' model}}</li>
    <li>{{link-to "Beers" 'states.state.brewery.beers' model}}</li>
    <li>{{link-to "Reviews" 'states.state.brewery.reviews' model}}</li>
    <li><a href={{model.website}} target="_blank">Website</a></li>
  </ul>
</div>


{{!-- <h1>{{model.name}}</h1>
<p>{{model.address}}</p>

<h3>{{#link-to 'states.state.edit-brewery' model}}Edit{{/link-to}}</h3>
<h3>{{#link-to 'states.state.brewery.reviews' model}}Reviews{{/link-to}}</h3>
 --}}
{{outlet}}
